/*
Color scheme
*/
$first-color:             #ff6978;
$second-color:            #12355b;
$third-color:             #4870a7;
$highlight:               #ffffff;

$background-color-light:  #f7f6f6;
$background-color-dark:   #272d2d;

$font-color-dark:         #272d2d;
$font-color-light:        #ffffff;
$link-color-dark:         #2f3f57;
$link-color-light:        #ffffff;

$border-separators:         $second-color;
$menu-bars:                 $second-color;
$menu:                      $first-color;

$title-text-shadow:         2px 2px 0 $first-color, -2px -2px 0 $highlight;
$title-color:               $second-color;

/*
Recurring effects
*/
$box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Fascinate&family=Roboto+Slab&display=swap');
$headline_font:     'Press Start 2P', cursive;
$text_font:         'Roboto Slab', serif;
$display_font:      'Fascinate', cursive;

/*
Components
*/
@import "common/styles/scss/site/index";
@import "common/styles/scss/site/responsiveness";
@import "common/styles/scss/site/site";
@import "common/styles/scss/components/layout";
@import "common/styles/scss/components/footer";
@import "common/styles/scss/components/homebutton";
@import "common/styles/scss/components/sidebar";
@import "common/styles/scss/components/content";
@import "common/styles/scss/components/header";
@import "common/styles/scss/components/breadcrump";
@import "common/styles/scss/components/instagram";
@import "common/styles/scss/components/passion";

/*
Overwrites
*/
.header .title a {
    @include xs {
        font-size: 1.5rem !important;
    }
}
.sidebar .sidebar_nav a {
    text-indent: 10% !important;
}
.sidebar h3 {
    font-size: 15px !important;
}

/*
Site specific
*/
em {
    position: relative;
}
em:before {
    content: "";
    z-index: -1;
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1.5em;
    transform: rotate(2deg);
    opacity: 0.5;
    border-radius: 0.25em;
}
em:after {
    content: "";
    z-index: -1;
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1.5em;
    transform: rotate(-1deg);
    opacity: 0.5;
    border-radius: 0.25em;
}